- Household:
    - Family Photos:
        - abbr: PH
          href: https://photos.${LANTERN_DOMAIN}
    - Media Library:
        - abbr: TV
          href: https://media.${LANTERN_DOMAIN}
    - Recipes:
        - abbr: RC
          href: https://recipes.${LANTERN_DOMAIN}

- Admin:
    - Status:
        - abbr: UP
          href: https://status.${LANTERN_DOMAIN}
    - Auth:
        - abbr: ID
          href: https://auth.${LANTERN_DOMAIN}
