- datetime:
    locale: en-US
    text_size: xl
    format:
      timeStyle: short
      dateStyle: medium

- resources:
    cpu: true
    memory: true
    disk: /

- search:
    provider: duckduckgo
    target: _blank
